*{
    margin: 0;
    padding: 0;
}
main{ 
    width: 100%;
    background-image: url(/pexels-photo-3855627.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin:auto
}

.logo{
    color: blue;
    font-size: 50px;
    font-family: 'Lucida Sans';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.manu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
 display: flex;
 float: left;
 justify-content: center;
 align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color:darkred;
    font-family: Arial;
}
.search{
    width: 400px;
    float: left;
    margin-left: 250px;
}